# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Optional files and directories
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

