<!DOCTYPE html>
<html>
<head><title>Posts</title></head>
<body>
    <h1>Posts</h1>
    <p>Welcome, <%= user.username %>!</p>
    <a href="/posts/new">Post</a>
    <a href="/logout">Logout</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id %>"><%= post.title %></a>
                <p><%= post.summary %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
